<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>index</title>
  <link rel="stylesheet" type="text/css" href="../assets/stylesheet/about.css">
</head>
<body>

  <% include header.ejs %>
  <% include user-navigation.ejs %>
  <% include site-navigation.ejs %>
<article class=des>
<h3>About Us!</h3>
<br>
<p> The <b>HealthyU</b> is all about getting jazzed up with your meal prep where you can share,save it,rate it and<p>
<p> mark it as done with all your convenience. You can add your own favourite recipe too!</p>
</article>

  <% include footer.ejs %>

</body>
</html>
