<header class="banner">
      <img src="../assets/images/logo1.jpg" alt="no file" style="float:left;width:40px;height:40px;">
      <p style="color:#744FF4;"> <b> HEALTHYU</b> </p>
      <p style="float:top;color:#646170;"><b><i>Your Routine for Healthy Diet</i></b></p>
      <p style="float:right;color:black;"><a href="/logOut">Logout</a></p>
</header>
