<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>contact</title>
  <link rel="stylesheet" type="text/css" href="../assets/stylesheet/index.css">
</head>
<body>

  <% include header.ejs %>
  <% include user-navigation.ejs %>
  <% include site-navigation.ejs %>
  <p class=des>Contact Us!</p>
  <p class = des>mail to - abc@yahoo.com</p>


  <% include footer.ejs %>

</body>
</html>
