<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>index</title>
  <link rel="stylesheet" type="text/css" href="../assets/stylesheet/index.css">
</head>
<body>


  <% include header.ejs %>
  <% include user-navigation.ejs %>
  <% include site-navigation.ejs %>

    <article class="des">
      <!-- <h6></h6> -->
      <h4>This site is for all of you who want to eat healthy but delicious food with your comfort at home.</h4>
      <br><br>
      <table>
        <tr>
          <th><img src="../assets/images/healthy1.jpg" alt="" title="Salmon Fillet"></th>
          <th><img src="../assets/images/healthy2.jpg" alt="" title="Budda Bowl"></th>
          <th><img src="../assets/images/healthy3.jpg" alt="" title="Fruit Salad"></th>
          <th><img src="../assets/images/paneerChilly.jpg" alt="" title="Paneer Saute"></th>
        </tr>
      </table>
      <br>
      <br><br>
      I hope you enjoy all the recipes and share them with your friend.
    </article>

<!-- </section> -->
  <!-- <footer>
    <p>©Copyright Anshu Production</p>
  </footer> -->

<% include footer.ejs %>

</body>
</html>
