<header class="usernav">
          <ul>
            <li><a href="#">Sign In</a></li>
            <li><a href="/MyItems">My Recipe</a></li>
            <li><a>Cart</a></li>
          </ul>
</header>
